apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 983426484039.dkr.ecr.ap-south-1.amazonaws.com/myrepo:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080 
         
